*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
#body{
    background: rgb(31, 31, 31);
    /* height: 100vh; */
}
#popupmssg{
    height: 100%;
    position: absolute;
    width: 100%;
    /* background-color: red; */
    z-index: 100;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgb(55, 55, 242);
    
}
/* #full{
    display: none;
    
} */
#ppbox{
    padding: 30px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 450px;
    width: 45%;
    /* text-align: center; */
    background: rgba(23, 23, 104, 0.2);
    border-radius: 20px;
    box-shadow: 0px 5px 50px 10px black;
}
#ppbox h4{
    font-size: 25px;
}
#ppbox #pmp{
    margin-top:15px ;
    width: 32%;
    outline: 0;
    height: 45px;
    font-size: 20px;
    background: white;
    color: black;
    border-radius:5px ;
    font-family: "Audiowide", sans-serif;
    border: 5px solid rgb(3, 38, 103);
    padding: 10px;
}
#ppbox #close{
    margin-top: 20px;
    height: 50px;
    background: rgb(38, 38, 200);
    font-size: 24px;
    border-radius: 8px;
    width: 43%;
    border: 0px ;
    font-weight: 700;
    box-shadow: 0px 0px 10px black;
}
#ppbox #close:hover{
    background: rgb(90, 90, 253);

}

.opt{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 30%;
}
#bat{
    height: 100%;
    /* width: ; */
    padding: 10px;
    border: 8px double white;
    border-radius: 8px;
    margin-right: 5px;
    cursor: pointer;
}
#ball{
    border: 8px double white;
    border-radius: 8px;
    margin-left: 5px;
    height: 100%;
    /* width: ; */
    padding: 10px;
    transition: 0.4s all;
    cursor: pointer;
}
#ball:hover,#bat:hover{
    background: rgb(43, 70, 248);
}

.navji{
    width: 100%;
    height: 70px;
    background: linear-gradient(to top ,rgb(5, 34, 91),rgb(103, 152, 244)140%);
    font-family: "Audiowide", sans-serif;
    line-height: 70px;
    padding-left: 20px;
    text-align: center;
}
#rll{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(9, 67, 174);
    border-radius: 20px;
    height: 45px;
    font-weight: 600;
    font-size: 24px;
    width: 20%;
    z-index: 10;
    cursor: pointer;
    text-decoration: none;
    color: white;
}
#rll:hover{
    box-shadow: 0px 0px 20px 1px rgb(81, 80, 80);
    font-weight: 700;
    background: rgb(5, 77, 211);
}
.navji >p{
    font-size: 45px;
    color: black;
    font-family: 900;
    
}

.text2O{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    display: flex;
    height: 10%;
    margin-top:25px;
}

#rtbtn{
    /* line-height: 60px; */
    /* text-align: center; */
    background: rgb(9, 67, 174);
    border: 0px solid white;
    width: 20%;
    border-radius: 20px;
    z-index: 10;
    font-size: 24px;
    height: 45px;
    font-weight: 600;
    cursor: pointer;

    
}
#rtbtn:hover{
    box-shadow: 0px 0px 20px 1px rgb(81, 80, 80);
    font-weight: 700;
    background: rgb(5, 77, 211);

}
.tools{
    margin-top: 35px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}


.user, .computer{
    border-radius: 20px;
    border: 7px solid rgb(103, 152, 244);
    width: 40%;
    height: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
}

.foot{
    margin-top: 60px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.guess{
    display: flex;
    border: 7px solid rgb(103, 152, 244);
    height: 260px;
    border-radius: 20px;
    width: 50%;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
.strtbtn{
    height: 34%;
    position: absolute;
    width: 49%;
    border-radius: 20px;
    background: rgba(21, 22, 22, 0.4);
    backdrop-filter: blur(3px);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
#stbtn{
    background: rgb(2, 60, 168);
    border: 0px solid white;
    height: 60px;
    width: 50%;
    font-size: 30px;
    padding: 5px;
    border-radius: 10px;
    /* color: black; */
    box-shadow: 0px 0px 15px 10px black;
    cursor: pointer;
}
#stbtn:hover{
    background: rgb(5, 77, 211);

}

.title2{
    display: flex;
    width: 100%;
    height: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.title2>p{
    font-size: 30px;
    margin-top: 20px;
 }
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 30%;
    height: 30%;
    border: 7px solid rgb(103, 152, 244);
    border-radius: 5px;
    
}

.stats{
    width: 40%;
    height: 260px;
    border: 7px solid rgb(103, 152, 244);
    border-radius: 20px;
}

#ubtn,#cbtn{
    font-size: 340px;

    /* align-items: center; */
    color: rgb(17, 97, 246);

}

.rules{
    margin: 30px auto;
    border: 2px dashed rgb(103, 152, 244);
    border-radius: 0px 60px;
    width: 70%;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
